 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Om mig</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Jag är en webbutvecklare som älskar att skapa webbplatser på nätet. Just nu studerar jag webbprogrammering på Linnéuniversitet i Kalmar. </p>
                </div>
                <div class="col-lg-4">
                    <p>Det jag gillar mest med webbutveckling är att sökmotoroptimera webbplatser. Jag välkomnar alltid nya projekt speciellt ifall det är projekt inom sökmotoroptimering. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://webb365.se" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Läs mer på webb365.se
                    </a>
                </div>
            </div>
        </div>
    </section>