
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 portfolio-item">
	                <ul>
		                <li><a href="https://github.com/webb365/1DV402-js23mi-1-1-vaxelpengar">Lösning av uppgiften 1-1-vaxelpengar i kursen inledande programering med C#</a></li>
	                </ul>
                </div>
                <div class="col-sm-6 portfolio-item">
                </div>
            </div>
        </div>
    </section>