
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 portfolio-item">
	                <ul style="list-style: none;">
		                <li><a href="https://github.com/webb365/1DV402-js23mi-1-1-vaxelpengar">Lösning av uppgiften 1-1-vaxelpengar i kursen inledande programmering med C#</a></li>
		                 <li><a href="https://github.com/webb365/1DV402-js23mi-1-2-rita-med-asterisker">Lösning av uppgiften 1-2-rita-med-asterisker i kursen inledande programmering med C#</a></li>
		                <li><a href="https://github.com/webb365/1dv402-js223mi-1-3-godtycklig-lonerevision">Lösning av uppgiften 1-3-godtycklig-lonerevision i kursen inledande programmering med C#</a></li>
		                		               
		                <li><a href="https://github.com/webb365/2-1-c-gissa-det-hemliga-talet">Lösning av uppgiften 2-1-gissa-det-hemliga-talet i kursen inledande programmering med C#</a></li>
	                </ul>
                </div>
                <div class="col-sm-6 portfolio-item">
	                <ul style="list-style: none;">

	                </ul>
                </div>
            </div>
        </div>
    </section>